* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  width: 99%;
}

header {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.containt-title {
  position: relative;
  text-align: left;
  width: 100%;
}

.title {
  position: absolute;
  font-size: 23px;
  top: 10px;
}

.image-title {
  width: 100%;
  height: 560px;
}

.sub-title {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 1%;
  width: 100%;
}

.logo {
  display: flex;
  position: absolute;
  width: 13%;
  top: 85%;
  left: 80%;
}

main {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 200px;
}

nav {
  display: grid;
  width: 300px;
  position: relative;
  top: 10px;
  left: 50px;
}

.containt-date {
  display: grid;
}

.containt-email {
  position: relative;
  top: 20px;
}

.containt-about {
  position: relative;
  top: 20px;
}
