* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
  width: 99%;
}

header {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.containt-title {
  position: relative;
  text-align: left;
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  font-size: 23px;
  top: 10px;
}

.image-title {
  width: 100%;
  height: 560px;
}

.sub-title {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 1%;
  width: 100%;
}

.logo {
  display: block;
  position: absolute;
  width: 13%;
  top: 80%;
  left: 80%;
  transition: 1s;
}
.logo:hover {
  transform: scale(1.5);
}

main {
  display: inline-block;
  margin: 10px;
  width: 100%;
  height: 200px;
}

.containt-nav {
  display: inline-block;
  width: 20%;
  position: relative;
  top: 10px;
  left: 50px;
}

.containt-date {
  display: inline-block;
  position: absolute;
  width: 79%;
}

.containt-email {
  display: inline-block;
  position: absolute;
  width: 79%;
}

.containt-about {
  display: inline-block;
  position: absolute;
  width: 79%;
}
