* {
  margin: 0.5px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.containt-title {
  display: flex;
  height: 600px;
}
.title {
  position: fixed;
  left: 2%;
  font-size: 120%;
}

.image-title {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containt-sub-title {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 100%;
  background-color: black;
}

.logo {
  display: block;
  position: absolute;
  width: 11%;
  left: 80%;
  transition: 0.5s;
}
.logo:hover {
  transform: scale(1.1);
}

.containt-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  left: 5%;
  height: 250px;
  width: 100%;
}

.containt-date,
.containt-date-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  width: 100%;
}

.image-hockey-1-home {
  position: relative;
  border: 2px solid black;
  border-radius: 5%;
  top: 25%;
  right: 10%;
  left: 33%;
  width: 50%;
  height: 70%;
}
.image-hockey-1-contact {
  position: relative;
  border: 2px solid black;
  border-radius: 5%;
  top: 25%;
  right: 10%;
  left: 33%;
  width: 50%;
  height: 70%;
}

.image-hockey-1-rule {
  position: relative;
  border: 2px solid black;
  border-radius: 5%;
  top: 40%;
  right: 10%;
  left: 10%;
  width: 85%;
  height: 30%;
}

.image-hockey-1-info {
  position: relative;
  border: 2px solid black;
  border-radius: 5%;
  top: 10%;
  right: 10%;
  left: 10%;
  width: 85%;
  height: 50%;
}

.containt-email {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: 100%;
}

.containt-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 100%;
}

.image-hockey-1-about {
  position: relative;
  border: 2px solid black;
  border-radius: 5%;
  top: 25%;
  right: 10%;
  left: 15%;
  width: 70%;
  height: 40%;
}

.containt-mision,
.containt-vision,
.containt-general {
  display: flex;
  flex-direction: column;
}

.containt-nav-rules,
.containt-nav-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  left: 5%;
  width: 25%;
}

.containt-rules {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.containt-game-info {
  height: 500px;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.containt-nav-game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  left: 5%;
  height: 250px;
  width: 25%;
}

.containt-rules-img,
.cantaint-game-info-img,
.containt-rules-img,
.containt-about-img {
  width: 30%;
}

.table-title {
  display: flex;
}
.table-1 {
  display: block;
}

.table-date {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style-type: lower-latin;
}

.list2 {
  list-style-type: circle;
}
